



@tailwind base;
@tailwind components;
@tailwind utilities;


 *,
 *::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  box-sizing: border-box;
  font-size: 18px;
}

footer{
  margin-top: 50px;

}

body {
  font-family: 'montserrat', 'Arial Narrow', Arial, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(250, 249, 249);
  
}

div.view-home{
  background: linear-gradient(0deg, rgba(0,0,0,1) 12%, rgba(17,245,249,0.6475840336134453) 36%, rgba(255,255,255,1) 79%, rgba(255,255,255,0.9949229691876751) 80%, rgba(255,255,255,0.9949229691876751) 85%, rgba(255,255,255,0.9949229691876751) 87%);
} 

div.view-sections{
  margin: 5%;
  padding: 1%;
  background: #fff;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


h1,
h2,
h3{
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

h1{
  font-size: 2.5rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.5rem;
}
h4{
  font-size: 1rem;
}


div.div-container > img {
  width: 100%;
  max-height: 120vh;
  height: auto;
}

div.div-container img {
  transition: transform 0.5s;
  

}
div.div-container:hover {
  overflow: hidden;
}

div.div-container > img:hover {
  transform: scale(1.2);
  padding: 5% 2%;
  margin: 3% auto;

}

section.two-siblings img {
  transition: transform 0.5s;
  width: 100%;
  max-height: 60vh;
  height: auto;

}

section.two-siblings:hover {
  overflow: hidden;
}

section.two-siblings img:hover {
  transform: scale(1.2);
  padding: 5% 2%;
  margin: 3% auto
}


footer, 
footer.footer{
  color: white;
  background: #000;
  padding: 4vh;
  margin: 0;
  height: 10vh;
}
footer.footer > hr{
  background-color:#000;

}


.main-text-img {
  font-size: 22px;
}

.link-active{
  background-color: #484444ab;
  text-decoration: underline;
}

hr{
  background: linear-gradient(360deg, rgba(224,0,0,1) 17%, rgba(255,255,255,1) 100%);
  height: 10px; 
  margin-bottom: 50px;
}

hr.hr-normal{
  background: linear-gradient(360deg, rgba(224,0,0,1) 17%, rgba(255,255,255,1) 100%);
  height: 5px; 
  margin-bottom: 50px;

}

.center{
  text-align: center;
}

.rojo{
  color: rgb(224, 0, 0);
}

/* slice of body between main and sumary */
.body {
  margin-top: 9vh;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 1em; 
  overflow-x: hidden; 
  width: 100%;  
}

body .body-index{
  margin-top: 0vh;
  background: #000;
}

.two-siblings{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
  background-color: rgb(224, 0, 0);
}


section.two-siblings img{
  width: 100%;
  height: 60vh;
  overflow: hidden;
}


/* body main */

main.main * {
margin:  5px auto;
padding: 5px;
}
.children-main{
  margin-left: 4.5vw;
}
.main-text-img{
  text-align: justify;
  margin: 10px auto;
}


.error-message{
  margin: 0 auto;
  width: 50%;
  height: 40%;
  background-color: rgb(224, 0, 0);
  color: white;
  font-size: 2rem;
}

div.body-article pre > code{
 color: red;
 font-weight: bold;

}

/* Responsividad para pantallas menores a 768px */
@media only screen and (max-width: 1000px) {
  .body {
    grid-template-columns: 100%; 
    font-size: 18px;
    color: #000;
    margin-right: 50px;
  }
  .main > {
    top: 20vh;
    margin-right: 5px; 
    margin-left: 5px; 
  }

  body h3{
    font-size: 20px;
  }
  .main-text-img {
    font-size: 20px;
  }
  
  section.two-siblings{
    margin-right: 5px; 

  }
  section.two-siblings img{
    width: 100%;
    height: 40vh;
  }

  h1{
    font-size: 1.8rem;
  }
  h2{
    font-size: 1.3rem;
  }
  h3{
    font-size: 5rem;
  }
  
} 


/* Estilos específicos para dispositivos móviles con ancho máximo de 767px */
@media (max-width: 767px) {

 
  main.main{
    margin-right:5px;
  }

  .main > div {
    font-size: 14px;
  }
  .main-text-img {
    font-size: 16px;
  }

  div.main-text-img h1{
    font-size: 1.7rem;
  }
  div.main-text-img h2{
    font-size: 1.5rem;
  }
  div.main-text-img h3{
    font-size: 1rem;
  }
  
  section.two-siblings img{
    width: 100%;
    height: 25vh;
  }

  .link-active{
    font-size: 8px;
  }
}


.div-container * img{
  max-width: 80%;
  height: auto;
}