.parrafo{
  margin: 3px 20px;
}

div.head-banner {
  height: 8vh;
  overflow: hidden;
  width: 100%;
  /* box-shadow: 0 0 2rem rgba(46, 46, 46, 0.97); */
  z-index: 999;
}
div.head-banner > {
  margin: 10px auto;
  text-align: center;
}

.head-banner *{
  padding-top: 5px;
}

span:hover{
  text-decoration: underline;
}

section.banner-legal{
  background-color: rgb(0, 0, 0);
  margin-left: 0;
  height: 8vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

section.banner-legal * span {
  padding: 2px;
  margin: 5px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.banner-legal *{
  margin: 2px;
}

.banner-legal * span {
    margin: 0 2%;
    display: inline-block;
    justify-content: center;
} 

  
  .content-header {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  
  .banner-legal span {
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 10px;
    margin: 0 5px;
  }
  
  .banner-legal span::before,
  .banner-legal span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
  }
  
  .banner-legal span::before {
    top: 0;
    left: 0;
    transition-delay: 0.1s;
  }
  
  .banner-legal span::after {
    bottom: 0;
    right: 0;
    transition-delay: 0.1s;
  }
  
  .banner-legal span:hover::before {
    width: 100%;
  }
  
  .banner-legal span:hover::after {
    width: 100%;
  } 


  .link-active-h span {
    text-decoration: underline;
  }



@media (max-width: 1000px) {
  section.banner-legal * span, label {
    font-size: 18px;
    font-weight: bold;
  
  }
}
  


@media (max-width: 767px) {
  
.icon-hamburger * {
  font-size: 20px;
  padding:0 5px;
  margin: 10px;
  color: white;
}

i.icon-hamburger {
  margin: 3px 5px;
}

.parrafo{
  margin: 3px 5px;
}

div.head-banner {
  height: 6vh;
}

.head-banner *{
  padding-top: 3px;
}

section.banner-legal * span {
  padding: 2px;
  margin: 5px;
  margin-right: 10px;
}

  .banner-legal *{
    margin: 0;
  }

  .header {
      margin: 5px;
  }
  
  .banner-legal span {
    padding: 0 5px;
    margin: 0 5px;
  }

  section.banner-legal * span, label {
    font-size: 14px;
    font-weight: bold;
  
  }

}
